* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 2rem;
    border-radius: 30px;
    background-color: hsla(0, 0%, 18%, 0.85);
}

.avatar {
    border-radius: 50%;
    width: 12rem;
    height: auto;
}

.profileDetails {
    padding-top: 1.5rem;
}

.header {
    color: #fff;
    font-size: 3rem;
    margin-bottom: .5rem;
}

.bio, .profileLocation {
    color: #d1d5db;
    font-size: 1.2rem;
}

.profileLocation {
    margin-bottom: .5rem;
}

.followers {
    font-size: 1rem;
    color: #58a6ff;
    margin-bottom: .5rem;
}


.profileLink {
    color: #6c757d;
    text-decoration: none;
    border-bottom: 1px solid #6c757d;
}

.profileLink:hover {
    color: #58a6ff;
    border-color: #58a6ff;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .header {
    font-size: 1.5rem;
  }

  .bio, .profileLocation {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .profileContainer {
    width: 90%;
    padding: 1.5rem;
  }
  .avatar {
    width: 8.5rem;
    height: auto;
  }

  .header {
    font-size: 1rem;
  }

  .bio, .profileLocation, .followers, .profileLink {
    font-size: .875rem;
  }
}

@media (max-width: 375px) {
  .profileContainer {
    width: 90%;
    padding: 1rem;
  }
  
  .avatar {
    width: 7.5rem;
    height: auto;
  }
}
