.profileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    padding: 2rem;
    gap: 7rem;
    border-radius: 30px;
    background-color: hsla(0, 0%, 18%, 0.85);
}

.avatar {
    border-radius: 50%;
    flex-shrink: 0;
}

.profileDetails {
    flex: 1;
    padding-top: 2rem;
}

.header {
    color: #fff;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.followers {
    font-size: 1.5rem;
    color: #58a6ff;
    margin-bottom: .5rem;
}

.bio, .profileLocation {
    color: #d1d5db;
    font-size: 1.2rem;
}

.profileLocation {
    margin-bottom: .5rem;
}


.profileLink {
    color: #6c757d;
    text-decoration: none;
    border-bottom: 1px solid #6c757d;
    padding-bottom: .3rem;
}

@media (max-width: 768px) {
  .avatar {
    width: 100px;
    height: 100px;
  }

  .header {
    font-size: 3.5rem;
  }
}

@media (max-width: 1173px) {
  .profileContainer {
    flex-direction: column;
    justify-content: content;
    text-align: center;
    gap: 1.5rem;
  }

  .avatar {
    width: 250px;
    height: auto;
  }
}


@media (max-width: 530px) {
    .profileContainer {
        gap: 1rem;
    }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .header {
    font-size: 1.5rem;
  }

  .bio, .profileLocation {
    font-size: 1rem;
  }
}